@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

body {
    background: linear-gradient(to bottom, #FFFFFF, #cdddcd);
}


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
}


h2 {
    color: #1b5e20;
    margin-bottom: 20px;
    font-size: 24px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 100px;
    font-size: 15px;
    box-sizing: border-box;
}

.login-container {
    background-color: #d4d9d1;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button:hover {
    background-color: #4d774e;
}

.social-log-reg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.social-log-reg a {
    text-decoration: none;
}

.log-reg-image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    display: block;
}

.log-reg-color {
    margin: 10px;
    font-size: 20px;
    color: #4d774e;
}

@media (min-width: 1024px) {
    .log-reg-section {
        display: flex;
        height: 100vh;
    }

    .log-reg-color h1 {
        margin-left: 40%;
        font-size: 50px;
        color: #4d774e;
    }

    .log-reg-color {
        margin: 0;
    }

    .log-reg-image {
        width: 150%;
        max-height: 92vh;
        overflow: hidden;
        object-fit: cover;
    }

    .login-container {
        width: 50%;
        margin-left: 200px;
        margin-top: 60px;
    }

    .login-container h1 {
        color: #4d774e;
    }

    .register-container {
        color: #4d774e;
    }

    .register-container {
        width: 50%;
        margin-left: 350px;
        margin-top: 60px;
    }
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 100px;
    font-size: 15px;
    box-sizing: border-box;
}

.register-container {
    background-color: #d4d9d1;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.image-container {
    margin-top: 50px;
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
}

.image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(50%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}

.centered-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.large-text {
    font-size: 2em;
    font-weight: bold;
}

.large-text h1 {
    margin-top: 25px;
    margin-bottom: 13px;
    color: #4d774e;

}

.small-text {
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.recipe-card {
    background-color: #4d774e;
    filter: brightness(70%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-card:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
    padding-bottom: 0;
}

.recipe-info h2 {
    font-size: 18px;
    color: #f2f2f2;
}

.recipe-info .time {
    font-size: 14px;
    color: #bfbfbf;
}

.recipe-grid a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .recipe-grid {
        grid-template-columns: 1fr;
    }
}

.meals-menu-outer-container {
    width: 20%;
    height: auto;
    background-image: url("image/mealplans/bgplan.jpg");
    border-radius: 10px;
    margin: 40px 10px;
    min-width: 50%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-card-artikel {
    text-align: center;
}

.recipe-card-artikel h2 {
    text-align: center;
    margin-top: 25px;
}

div.news-content {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

div.artikel-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

div.news-content {
    font-family: 'Times New Roman', Times, serif;
}

div.artikel-title h1 {
    font-family: 'Times New Roman', Times, serif;
}

div.artikel-container h2 {
    font-family: 'Times New Roman', Times, serif;
}

div.artikel-container p {
    font-family: 'Times New Roman', Times, serif;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}

.search-container {
    padding-top: 50px;
    text-align: center;
}

#search {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}