@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

body {
    background-color: #f2f2f2;
}

.banner {
    background-color: #4d774e;
    height: 20px;
    width: 100%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.header {
    text-align: center;
    color: #4d774e;
    padding: 20px;
}

.navbar a {
    margin: 10px;
    font-size: 20px;
    color: #4d774e;
    text-decoration: none;
}

.navbar {
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.navbar a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.calcucontainer {
    border: 2px solid;
    padding: 15px;
    /* biar ada jarak kiri kanan atas bawah */
    width: 35%;
    /* mengatur lebar border kalkulator*/
    margin: 0 auto;
    /* biar kalkulatornya berada di tengah*/
    border-radius: 20px;
    /* biar border melengkung sudutnya*/
    background-color: #4d774e;
    text-align: center;
    /* biar tulisan judul kalkunya di tengah*/
}

.calcubox {
    display: flex;
    /* biar box putihnya berada di sebelah kanan label */
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    /* biar memenuhi border terluar */
    box-sizing: border-box;
    /* biar border hijau mudanya gak overflow */
    margin: 10px 0;
    /* biar ada jarak antar border hijau (gak dempet) */
    background-color: #f2f2f2;
}

label {
    color: black;
    padding: 10px;
    font-weight: bold;
}

.calcubox input,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.dropdown {
    position: relative;
    /* biar navbarnya yg punya dropdown jadi gak berantakan*/
    display: inline-block;
    /* biar navbarnya tidak tersusun kebawah alias tersusun deret ke samping*/
}

.select {
    font-size: 20px;
    color: #4d774e;
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    /* biar ketika ada dropdown, navbar yg lain tidak berantakan */
    display: none;
    /* biar gada dropdown yang ditampilkan ketika kursor tidak diarahkan ke navbar*/
    text-align: left;
    /* biar isi di menu dropdown itu teksnya rata kiri semua */
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
    /* memastikan dropdown menu berada di layer palong depan dan tidak tertimpa komponen lain*/
    border-radius: 4px;
}

.dropdown-item {
    display: block;
    /* biar isi dropdown menunya tidak berantakan*/
    width: 100%;
    padding: 10px;
    white-space: nowrap;
    /* biar isinya tidak overflow atau tidak melebihi batas border dropdownnya */
}


.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

.login-reg {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.login-reg a {
    font-size: 15px;
    color: #4d774e;
    text-decoration: none;
}

.login-reg a i {
    margin-right: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 100px;
    font-size: 15px;
    box-sizing: border-box;
}

.login-container {
    background-color: #82d783;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button:hover {
    background-color: #4d774e;
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.image-container {
    margin-top: 50px;
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
}

.image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(50%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}

.centered-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.large-text {
    font-size: 2em;
    font-weight: bold;
}

.small-text {
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 80px;
    margin-left: 20%;
    margin-right: 20%;
}

.recipe-card {
    background-color: #4d774e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
}

.recipe-info h2 {
    font-size: 18px;
    color: #f2f2f2;
}

.recipe-info .time {
    font-size: 14px;
    color: #888;
}

@media (max-width: 600px) {
    .recipe-grid {
        grid-template-columns: 1fr;
    }
}

.header-plans {
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
}

.header-plans img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    filter: brightness(50%);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}

.meals-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 50px;
}

.meals-card {
    background-color: #4d774e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.meals-card img {
    width: 500%;
    height: 500px;
    object-fit: cover;
}

.meals-info {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.meals-info a {
    text-decoration: none;
    color: inherit;
}

.meals-info a:hover {
    font-weight: bold;
    text-decoration: underline;
    font-size: 28px;
}

.select-meals {
    font-size: 20px;
    color: #070404;
    padding: 10px;
    cursor: pointer;
}

.meals-menu-outer-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #4d774e;
    border-radius: 10px;
}

.meals-menu-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Align kontainer secara vertikal di atas */
}


.recipe-container {
    width: 45%;
    /* Kontainer gambar sebesar 45% dari lebar total */
}

.recipe-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


.content {
    width: 80%;
    /* Kontainer konten sebesar 50% dari lebar total */
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    text-align: left;
    margin-bottom: 10px;
}

.content p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
}

.content h2 {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}

.content p:hover {
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-content ul,
ol {
    padding: 15px;
}

.dropdown-content ol {
    padding: 10px;
}

.dropdown-content li {
    padding: 5px;
}